<div class="overlay-header"></div>
<div class="container">
    
        <div class="title-container">
            <h4 class="title-section">Dashboard</h4>
            <p class="info-section">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus harum incidunt dolorem saepe nesciunt! Iure, corporis! Quisquam, harum ipsa? Reiciendis sapiente mollitia quos provident nemo qui id atque aperiam ex.</p>
        </div>

        <div class="container-dashboard">

            <div class="card-item" style="--color-card: rgb(137, 202, 39)">
                <div class="first-section">
                    <span class="icon-card">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="second-section">
                    <h5 class="title-card">Title card</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, sapiente? Quas </p>
                </div>
            </div>
            <div class="card-item" style="--color-card: #27aeca">
                <div class="first-section">
                    <span class="icon-card">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        
                    </span>
                </div>
                <div class="second-section">
                    <h5 class="title-card">Title card</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, sapiente? Quas </p>
                </div>
            </div>
            <div class="card-item" style="--color-card: #ca27a2">
                <div class="first-section">
                    <span class="icon-card">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="second-section">
                    <h5 class="title-card">Title card</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, sapiente? Quas </p>
                </div>
            </div>

        </div>

        <div class="cards">
            <div class="row">
                <div class="col-md-4">
                    <div class="card animate">
                        <div class="card-header">
                            <div class="card-header-content">
                                <h5>Title Card</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, ex qui. In, obcaecati. Culpa quis placeat, sapiente, quos consectetur reprehenderit facere doloremque enim laboriosam eum necessitatibus, quibusdam dolores amet odio.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card animate">
                        <div class="card-header">
                            <div class="card-header-content">
                                <h5>Title Card</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, ex qui. In, obcaecati. Culpa quis placeat, sapiente, quos consectetur reprehenderit facere doloremque enim laboriosam eum necessitatibus, quibusdam dolores amet odio.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card animate">
                        <div class="card-header">
                            <div class="card-header-content">
                                <h5>Title Card</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, ex qui. In, obcaecati. Culpa quis placeat, sapiente, quos consectetur reprehenderit facere doloremque enim laboriosam eum necessitatibus, quibusdam dolores amet odio.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 500px;">

        </div>
</div>